.body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  background-color: white;
}
.details {
  margin: 0%;
  padding: 1%;
}

.userDetails {
  padding: 2%;
  margin: 0%;
}

#text {
  color: black;
  width: 100%;
  margin: 0%;
}

#user {
  color: black;
}

#app {
  color: black;
  padding-left: 1%;
}
